<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
      
	<add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Sut.PathUpload" value="D:\Aplicaciones\sut\sutArchivos\" />
    <add key="Sut.PathUploadDocumentos" value="D:\Aplicaciones\sut\Documentos\" />
    <add key="Sut.PathUploadDocumentosCiudadano" value="D:\Aplicaciones\sut\Documentos\" />
	<!--JJJMSP-->
	<add key="Sut.PathLogosentidades" value="D:\Aplicaciones\sut\Logosentidades\" />
	<add key="Sut.PathNomLogoPcm" value="D:\Aplicaciones\sut\Logosentidades\logo_pcm.png" />
	<add key="Sut.LastDateChangePassword" value="20/01/2022" />
    <add key="Sut.PathLinkarchivos" value="http://sut.pcm.gob.pe/sutArchivos/" />
    <add key="Sut.linkCiudadano" value="" />
    <add key="Sut.Security.AccesoDenegadoArea" value="" />
    <add key="Sut.Security.AccesoDenegadoController" value="Account" />
    <add key="Sut.Security.AccesoDenegadoAction" value="AccesoDenegado" />
		
		
  </appSettings>
  <system.web>
    <globalization uiCulture="es" culture="es-PE" />
    <compilation targetFramework="4.8" debug="true" />
    <httpRuntime targetFramework="4.8" maxRequestLength="95000" executionTimeout="220" />
    <authentication mode="Forms">
      <forms name="Sut.Security.Auth" loginUrl="~/Account/Login" defaultUrl="~/Seguridad/Portada/Lista" timeout="220" slidingExpiration="true" protection="All" cookieless="UseCookies" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <machineKey validationKey="04C26BD881471AE97E454E7FCBC63DD8585EF967BF7CCC35887EC7EAA8555973BA030AD28F8DC3957B44FE0435E02738A845576B65C4C499BED44096950E4902" decryptionKey="54B4D335D8BCAB4EA329DC39332F572A064E8157B73C9F2F" validation="SHA1" decryption="AES" />
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error statusCode="400" redirect="~/Error/Error_400_BadRequest" />
      <error statusCode="401" redirect="~/Error/Error_401_Unauthorized" />
      <error statusCode="403" redirect="~/Error/Error_403_Forbidden" />
      <error statusCode="404" redirect="~/Error/Error_404_NotFound" />
      <error statusCode="500" redirect="~/Error/Error_500_InternalServer" />
      <error statusCode="504" redirect="~/Error/Error_504_GatewayTimeout" />
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <system.data>
    <!--<DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>-->
  </system.data>
  <connectionStrings>
	  <!--<add name="SUTEntities" connectionString="data source=DESKTOP-R6VG9B3\SRVPCMSUT;initial catalog=sut;User id=sa;Password=123456" providerName="System.Data.SqlClient" />-->
	  <add name="SUTEntities" connectionString="data source=DESKTOP-R6VG9B3\SRVPCMSUT;initial catalog=db_pcm_gob_pe_sut;User id=sa;Password=123456" providerName="System.Data.SqlClient" />
	  <!--<add name="SUTEntities" connectionString="data source=INKILL.pcm.gob.pe;initial catalog=db_pcm_gob_pe_sut;User id=usr_pcm_gob_pe_sut;Password=usr_pcm_gob_pe_sut" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" /> -->
        <add name="X-Frame-Options" value="DENY" />
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
    <!-- <httpRedirect enabled="false" destination="https://sut.pcm.gob.pe" exactDestination="false" childOnly="false" httpResponseStatus="Found"/>
    <rewrite>
      <rules>
        <rule name="sut_http_https" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <location path="DefaultCaptcha/Generate">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
<!--ProjectGuid: 2D91D38A-E682-46B1-9EE9-619C9B950C7A-->