<div class="col-sm-4 col-xs-12">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h4 class="box-title">Avance de expedientes por año según el <b>Estado del Expediente</b>.</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>

        <div class="box-body">

            <div id="grafico3"></div>
        </div>

        <div class="box-footer">
            <p class="highcharts-description">
              El siguiente grafico muestra la tendencia del <code>No. registro de expedientes en el SUT</code>.
            </p>
        </div>
    </div>

</div>