<div class="col-sm-4 col-xs-12">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h4 class="box-title">
                <div >
                    <span class="info-box-icon " style="background: red; border-radius:100%">
                        <img src="~/Content/Areas/Simplificacion/Dashboard/img/users.svg" height="50" />
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Reporte Acumulado por años de usuarios Total y por Roles</span>
                        <span class="info-box-number" id="cant_usuarios"></span>
                    </div>

                </div>

            </h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>

        <div class="box-body">
           
               


            <div id="grafico5"></div>
        </div>

        <div class="box-footer">
            <p class="highcharts-description">
              Tendencia del registro de los usuarios por ejercicios.
            </p>
        </div>
    </div>

</div>