<div class="col-sm-6 col-xs-12">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h4 class="box-title">Gráfico de avance de expedientes por año.</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>

        <div class="box-body">

            <div id="grafico2"></div>
            <p class="highcharts-description">
                Chart showing how an HTML table can be used as the data source for the
                chart using the Highcharts data module. The chart is built by
                referencing the existing HTML data table in the page. Several common
                data source types are available, including CSV and Google Spreadsheet.
            </p>

            <table id="dt_grafico2" class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Boys</th>
                        <th>Girls</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>2016</th>
                        <td>30 386</td>
                        <td>28 504</td>
                    </tr>
                    <tr>
                        <th>2017</th>
                        <td>29 173</td>
                        <td>27 460</td>
                    </tr>
                    <tr>
                        <th>2018</th>
                        <td>28 430</td>
                        <td>26 690</td>
                    </tr>
                    <tr>
                        <th>2019</th>
                        <td>28 042</td>
                        <td>26 453</td>
                    </tr>
                    <tr>
                        <th>2020</th>
                        <td>27 063</td>
                        <td>25 916</td>
                    </tr>
                    <tr>
                        <th>2021</th>
                        <td>28 684</td>
                        <td>27 376</td>
                    </tr>
                </tbody>
            </table>

           

        </div>

        <div class="box-footer">
            <p class="highcharts-description">
              El siguiente grafico muestra la tendencia del <code>No. registro de expedientes en el SUT</code>.
            </p>
        </div>
    </div>

</div>