<div class="col-sm-12 col-xs-12">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h4 class="box-title">
               Mapa del SUT

            </h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>

        <div class="box-body">




            <div id="map" style="height: 700px;"></div>
        </div>

        <div class="box-footer">
            <p class="highcharts-description">
              Tendencia del registro de los usuarios por ejercicios.
            </p>
        </div>
    </div>

    <style>

        .countryLabel {
            background: rgba(255, 255, 255, 0) !important;
            border: 0 !important;
            border-radius: 0px !important;
            box-shadow: 0 0px 0px !important;
            font-weight: bold;
           
            color: black !important; /* Color de letra negro */
            text-shadow: 0 1px 1px white, -1px 1px 1px white, -1px 1px 1px white;
        }


        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }

            .info h4 {
                margin: 0 0 5px;
                color: #777;
            }

        .legend {
            line-height: 18px;
            color: #555;
        }

            .legend i {
                width: 18px;
                height: 18px;
                float: left;
                margin-right: 8px;
                opacity: 0.7;
            }
    </style>

</div>