<div class="col-sm-6 col-xs-12">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h4 class="box-title">Porcentaje % del Total de Expedientes por <b>Nivel de Gobierno</b>.</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>

        <div class="box-body">

            <div id="pie1"></div>
        </div>

        <div class="box-footer">
            <p class="highcharts-description">
            
            </p>
        </div>
    </div>

</div>

<div class="col-sm-6 col-xs-12">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h4 class="box-title">Porcentaje <b>% del Total de Expedientes <code>FINALIZADOS</code> por Nivel de Gobierno</b>.</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>

        <div class="box-body">

            <div id="pie2"></div>
        </div>

        <div class="box-footer">
            <p class="highcharts-description">
                
            </p>
        </div>
    </div>

</div>
