<div class="col-sm-4 col-xs-12">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h4 class="box-title">Expedientes <code>Finalizados y En Proceso</code> por <b>Sector </b>.</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>

        <div class="box-body">

            <table id="tabla3" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sector</th>
                        <th>Finalizado</th>
                        <th>En proceso</th>
                        
                    </tr>
                </thead>
                <tbody>
                   
                    
                </tbody>
             
            </table>
        </div>

        <div class="box-footer">
            <p class="highcharts-description">
              El siguiente tabla  muestra los expedientes Finalizado y En Proceso <code>de acuerdo al SECTOR de la Entidad</code>.
            </p>
        </div>
    </div>

</div>