<div class="col-sm-8 col-xs-12">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h4 class="box-title">Reporte de usuarios <code>Activos y Inactivos</code> por <b>Entidad </b>.</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>

        <div class="box-body">

            <table id="tabla4" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Entidad</th>
                        <th>Siglas</th>
                        <th>Rol</th>
                        <th>Nro Activos</th>
                        <th>Nro Inactivos</th>

                    </tr>
                </thead>
                <tbody>
                   
                    
                </tbody>
             
            </table>
        </div>

        <div class="box-footer">
            <p class="highcharts-description">
              El siguiente tabla el listado de usuarios por entidad, el numero de los usuarios activos e inactivos.</code>.
            </p>
        </div>
    </div>

</div>