
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon" style="background: red; ">
               <img src="~/Content/Areas/Simplificacion/Dashboard/img/total1.svg" height="50"/>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Total de Expedientes</span>
                <span class="info-box-number" id="exp_totales">1,654</span>
            </div>

        </div>

    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon " style="background: orange; ">
                <img src="~/Content/Areas/Simplificacion/Dashboard/img/total2.svg" height="50" />
            </span>
            <div class="info-box-content">
                <span class="info-box-text">TOTAL EXPEDIENTES PUBLICADOS</span>
                <span class="info-box-number" id="exp_publicados">1,010</span>
            </div>

        </div>

    </div>


    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon " style="background: green; ">
                <img src="~/Content/Areas/Simplificacion/Dashboard/img/total3.svg" height="50" />
            </span>
            <div class="info-box-content">
                <span class="info-box-text">TOTAL EXPEDIENTES REGULAR</span>
                <span class="info-box-number" id="exp_regulares">760</span>
            </div>

        </div>

    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon " style="background: #00C0EF; ">
                <img src="~/Content/Areas/Simplificacion/Dashboard/img/total4.svg" height="50" />
            </span>
            <div class="info-box-content">
                <span class="info-box-text">TOTAL EXPEDIENTES CARGA INICIAL</span>
                <span class="info-box-number" id="exp_inicial">2,000</span>
            </div>

        </div>

    </div>

</div>