<!DOCTYPE html>
<html>
<head>
    <title>Error 400: Solicitud incorrecta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      
        .error-container {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin: 50px auto;
            max-width: 500px;
            text-align: center;
        }

      
    </style>
</head>
<body>
    <div class="error-container">
        <img src="~/Content/Areas/Simplificacion/Dashboard/img/400.svg" alt="Alternate Text" height="250"/>
        <h1>Error 400: Solicitud incorrecta</h1>
        <p>Lo siento, la solicitud que intentó realizar no se pudo procesar debido a una solicitud incorrecta en el Sistema Único de Trámite de la PCM.</p>
        <ul>
            <li>Verifique la URL y asegúrese de que sea correcta.</li>
            <li>Intente actualizar la página o limpiar la caché del navegador.</li>
            <li>Comuníquese con nosotros si el problema persiste.</li>
        </ul>
        <a href="/">Volver a la página de inicio</a>
    </div>
</body>
</html>
