@model List<Sut.Entities.Entidad>
@{
    ViewBag.Title = "TUPA Estándar";
    ViewBag.Descripcion = "Registro de los TUPA Estándar";
}

<div id="mensajes"></div>

<div class="row">
    <div class="col-xs-12">
        <div id="boxLista" class="box box-danger">
            <div class="box-body">
                <a class="btn btn-success" href="javascript:sut.Estandar.editar(0)"><i class="fa fa-plus"></i> Nuevo</a>
                <br />
                <div class="table-responsive">
                    <table id="tblLista" class="table table-bordered table-striped table-hover"
                           data-pagesize="20"
                           data-page="1"
                           data-totalrows="0"
                           data-function="sut.Estandar.listar"
                           data-paginator="paginator">
                        <thead>
                            <tr>
                                <th class="colNro">Nro.</th>
                                <th>Nombre</th>
                                <th rowspan="2" style="width:120px;vertical-align: middle !important;">Fecha Creación</th> 
                                <th rowspan="2" style="width:120px;vertical-align: middle !important;">Fecha Modificación</th>
                                <th colspan="2" rowspan="2" style="width:90px;vertical-align: middle !important;" class="colAction">Acción</th>
                            </tr>
                            <tr>
                                <th><button class="btn btn-default btn-xs" title="Borrar Filtros" data-toggle="tooltip" data-placement="right"><i class="fa fa-filter"></i></button></th>
                                <th><input id="txtFilterNombre" type="text" class="form-control input-sm" /></th>
                                 
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr><td colspan="12"><div id="paginator"></div></td></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-ventana">
    <div id="ventana-container">

    </div>
</div>

@section Style {
    <style type="text/css">
        table#tblLista thead tr th {
            text-align: center;
        }

        table#tblLista tbody tr td[colspan="3"] {
            font-weight: bold;
            text-align: center;
        }

        #tblLista .colNro {
            width: 40px;
            text-align: center;
        }

        #tblLista .colAction {
            width: 80px;
        }

        #tblLista tfoot .pagination {
            margin: 0px 0px;
        }
    </style>
}

@section Script {
    <script>

        sut.Estandar = {
            abrir: (id) => {
                //window.location = '/Estandar/Tupa/Abrir/' + id;
                window.location = '@Url.Content("~/Estandar/Tupa/Abrir/")' + id;
            },
            editar: function (id) {
                $.ajax({
                    type: "GET",
                    //url: '/Estandar/Tupa/Editar',
                    url: '@Url.Content("~/Estandar/Tupa/Editar")',
                    data: { id: id },
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        $('#ventana-container').html(data);
                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });
            },
            listar: function (page) {
                table = $('#tblLista');
                var model = {
                    'filtro.Nombre': $('#txtFilterNombre').val(),
                    pageIndex: page,
                    pageSize: table.data('pagesize')
                };
                $.ajax({
                    //url: "/Estandar/Tupa/GetAllLikePagin",
                    url: '@Url.Content("~/Estandar/Tupa/GetAllLikePagin")',
                    type: "GET",
                    data: model,
                    dataType: "json",
                    beforeSend: function () {
                        sut.wait.appendOverlay('#boxLista');
                    },
                    success: function (data) {
                        sut.wait.removeOverlay('#boxLista');
                        table.data('page', page);
                        table.data('totalrows', data.totalRows);
                        sut.Estandar.generar(data.lista);
                        if (data.totalRows == 0) $('#tblLista tbody').append("<tr><td colspan='3' class='text-center text-bold'>NO SE ENCONTRARON REGISTROS.</td></td>");
                    },
                    error: function (data) {
                        sut.error.show('mensajes', data.responseText);
                    }
                });
            },
            generar: function (lista) {
                var table = $('#tblLista');
                var tabla = table.children('tbody');
                tabla.children('tr').remove();
                var rows = '';
                var numero = (table.data('pagesize') * table.data('page')) - table.data('pagesize');
                $.each(lista, function (i, r) {
                    rows += sut.string.format('<tr><td class="colNro" >{0}</td>', ++numero);
                    rows += sut.string.format('<td>{0}</td>', r.Nombre);
                    rows += sut.string.format('<td>{0}</td>', r.FecCreacion);
                    rows += sut.string.format('<td>{0}</td>', r.FecModificacion);
                    rows += '<td style="width:5px">';
                    rows += '<div class="btn-group">';
                    rows += sut.string.format('<a class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="left" title="Editar" href="javascript:sut.Estandar.editar({0})" ><i class="fa fa-pencil"></i></a>', r.EntidadId);
                    rows += '</div>';
                    rows += '</td>';
                    rows += '<td style="width:5px">';
                    rows += '<div class="btn-group">';
                    rows += sut.string.format('<a class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="left" title="Abrir" href="javascript:sut.Estandar.abrir({0})" ><i class="fa fa-folder-open"></i></a>', r.EntidadId);
                    rows += '</div>';
                    rows += '</td>';
                    rows += '</tr>';
                });
                sut.pagination.update(table);
                tabla.append(rows);
            }
        };

        $(function () {
            sut.Estandar.listar(1);

            $('#txtFilterNombre').keypress(function (e) {
                var key = e.keyCode || event.keyCode;
                if (key == 13) sut.Estandar.listar(1);
            });
            $('#tblLista thead button').click(function (e) {
                $('#txtFilterNombre').val('');
                sut.Estandar.listar(1);
            });
        });
    </script>
}
