<div class="alert alert-danger alert-dismissible" style="height: inherit;padding: inherit; display: block;">
    <i class="fa fa-lock"></i> Usted no cuenta con los privilegios necesarios para ingresar a esta opción.
</div>