@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible" style="height: inherit;padding: inherit; display: block;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.ValidationSummary()
    </div>
}