<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Presidencia del Consejo de Ministros
    </div>
    <!-- Default to the left -->
    <strong>Sistema Único de Trámites - @DateTime.Now.Year.ToString()</strong> 
</footer>