<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>*@
            
        </div>
        <div class="modal-body">
            <h3>Ordenar Bloques por Unidad Orgánica:</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:30px">Nro</th>
                            <th>Descripción</th>
                            <th style="width:30px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>UNIDAD ORGNÁNICA 01</td>
                            <td><a class="btn btn-warning btn-xs"><i class="fa fa-sort"></i></a></td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>UNIDAD ORGNÁNICA 02</td>
                            <td><a class="btn btn-warning btn-xs"><i class="fa fa-sort"></i></a></td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>UNIDAD ORGNÁNICA 03</td>
                            <td><a class="btn btn-warning btn-xs"><i class="fa fa-sort"></i></a></td>
                        </tr>
                        <tr class="danger">
                            <td class="text-center">4</td>
                            <td>UNIDAD ORGNÁNICA 04</td>
                            <td><a class="btn btn-warning btn-xs"><i class="fa fa-sort"></i></a></td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td>UNIDAD ORGNÁNICA 05</td>
                            <td><a class="btn btn-warning btn-xs"><i class="fa fa-sort"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr />
            <h3>Ordenar Procedimientos de Unidad Orgánica 04:</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th rowspan="2" style="width:30px">
                                Nro.
                            </th>
                            <th rowspan="2" style="width:120px">
                                Código
                            </th>
                            <th rowspan="2">
                                Denominación
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>00001069-0001-P</td>
                            <td>LICENCIA DE EDIFICACION - MODALIDAD A - VIVIENDA UNIFAMILIAR</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>00001069-0002-P</td>
                            <td>LICENCIA DE EDIFICACION - MODALIDAD A - REMODELACIONES</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>00002045-0008-E</td>
                            <td>ACCESO A LA INFORMACIÓN</td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td>00001069-0006-P</td>
                            <td>LICENCIA DE EDIFICACION - MODALIDAD A - REMODELACIONES</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary"><i class="fa fa-save"></i> Guardar Ordenamiento</a>
        </div>
    </div>
</div>